In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "x": [2.5,
    0.5,
    2.2,
    1.9,
    3.1,
    2.3,
    2,
    1,
    1.5,
    1.1],
    "y": [2.4,
    0.7,
    2.9,
    2.2,
    3,
    2.7,
    1.6,
    1.1,
    1.6,
    0.9]
})
df

     x    y
0  2.5  2.4
1  0.5  0.7
2  2.2  2.9
3  1.9  2.2
4  3.1  3.0
5  2.3  2.7
6  2.0  1.6
7  1.0  1.1
8  1.5  1.6
9  1.1  0.9

In [3]:
df["x - x_average"] = df["x"] - df["x"].mean()
df["y - y_average"] = df["y"] - df["y"].mean()

In [4]:
df

     x    y  x - x_average  y - y_average
0  2.5  2.4           0.69           0.49
1  0.5  0.7          -1.31          -1.21
2  2.2  2.9           0.39           0.99
3  1.9  2.2           0.09           0.29
4  3.1  3.0           1.29           1.09
5  2.3  2.7           0.49           0.79
6  2.0  1.6           0.19          -0.31
7  1.0  1.1          -0.81          -0.81
8  1.5  1.6          -0.31          -0.31
9  1.1  0.9          -0.71          -1.01

In [5]:
covariance_matrix = df[["x - x_average", "y - y_average"]].cov()

In [6]:
import numpy as np

In [7]:
eigen_values, eigen_vectors = np.linalg.eig(covariance_matrix.values)

In [8]:
eigen_values[1]

1.2840277121727839

In [9]:
eigen_vectors

array([[-0.73517866, -0.6778734 ],
       [ 0.6778734 , -0.73517866]])

In [10]:
eigen_vectors[:,1]

array([-0.6778734 , -0.73517866])

In [11]:
df[["x - x_average", "y - y_average"]]

   x - x_average  y - y_average
0           0.69           0.49
1          -1.31          -1.21
2           0.39           0.99
3           0.09           0.29
4           1.29           1.09
5           0.49           0.79
6           0.19          -0.31
7          -0.81          -0.81
8          -0.31          -0.31
9          -0.71          -1.01

In [12]:
df["reduced_dim"] = np.dot(df[["x - x_average", "y - y_average"]].values, eigen_vectors[:, 1].T)

In [13]:
# 9 x 2 - 2 x 1

In [14]:
df

     x    y  x - x_average  y - y_average  reduced_dim
0  2.5  2.4           0.69           0.49    -0.827970
1  0.5  0.7          -1.31          -1.21     1.777580
2  2.2  2.9           0.39           0.99    -0.992197
3  1.9  2.2           0.09           0.29    -0.274210
4  3.1  3.0           1.29           1.09    -1.675801
5  2.3  2.7           0.49           0.79    -0.912949
6  2.0  1.6           0.19          -0.31     0.099109
7  1.0  1.1          -0.81          -0.81     1.144572
8  1.5  1.6          -0.31          -0.31     0.438046
9  1.1  0.9          -0.71          -1.01     1.223821